# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on: 
  push:
    branches: [ "main" ]
  pull_request_target:
    types:
      - opened
      - edited
      - reopened
      - synchronize

jobs:

  build:
    runs-on: ubuntu-latest
    name: Build with Go ${{ matrix.go }} ${{ matrix.os }}
    strategy:
      matrix:
        go: [1.23.x,1.24rc1]
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go }} 
          check-latest: true

      - name: Build
        run: go build -v ./...

      - name: Test
        run: go test -v ./...

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: latest
          args: --timeout 5m
          install-mode: "binary"
